scipy
tables
matplotlib
sqlalchemy
statsmodels
openpyxl
xlrd
xlwt
pandas
gunicorn
celery
redis
psycopg2
Pillow
jinja2
weasyprint
ipython
django
requests
djangorestframework
django-import-export
git+https://github.com/etianen/django-reversion.git
django-guardian
django-report-builder
django-bootstrap3
https://github.com/atsuoishimoto/querystring-parser/archive/master.zip
