scipy
python-tables
matplotlib
pandas
gunicorn
celery
redis
psycopg2
pillow
weasyprint
ipython
django
djangorestframework
django-import-export
git+https://github.com/etianen/django-reversion.git
django-guardian
django-report-builder
django-bootstrap3
https://github.com/atsuoishimoto/querystring-parser/archive/master.zip
